html, body { font-family: sans-serif; font-size: 12px;  }
th, td { vertical-align: top; text-align: left; padding: 2px 5px; }
tr:nth-of-type(2n+1) { background-color: #ddd; }
.track span { font-weight: bold; }
